*{
    margin: 0;
    padding: 0;
    font-family:"OpenSans";
}
#header{
    background: white;
    height: 71px;
    border: 2px solid #f5f0f0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.head{
    display: inline;
    position: absolute;
    padding-top: 18px;
    padding-left: 9px;
    font-size: 32px;
    color: #485664;
    font-weight: normal;
}
.hd-span{
    color: #0ea2bd;
    position: absolute;
    font-size: 32px;
}
.menu{
    display: inline;
    position: relative;
    top: 31px;
    left: 285px;
    padding: 35px;
    font-size: 17px;
}
.menu-name{
    text-decoration: none;
    color: #485664;
}
.menu-name:hover{
    color: #0ea2bd;
}
/* .lines::after{
    content: "";
    position: absolute;
    display: block;
    width: 58px;
    height: 2px;
    background: #0ea2bd;
    bottom: 19px;
    left: 29px;
} */
.gs-button{
    position: absolute;
    top: 24px;
    right: 15px;
    background: #0ea2bd;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 30px;
    border-radius: 5px;
}
.gs-btn{
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 1px;
}
#banner{
    position: relative;
    text-align: center;
    top: 86px;
    background: url(./Image_HeroBiz/hero-bg.png);
    height: 565px;
    background-repeat: no-repeat;
    background-size: cover;
}
.heroimg{
    height: 400px;
}
.banner-content{
    line-height: 51px;
    letter-spacing: 2px;
}
.banner-h1{
    color: #1a1f24;
    font-size: 48px;
    padding-top: 13px;
    font-weight: normal;
}
.banner-h1::after{
    content: "HeroBiz";
    color: #0ea2bd;
}
.banner-span{
    color: #485664;
    font-size: 18px;
}
.gt-wtch-btn{
    color: #1a1f24;
    font-size: 18px;
    display: flex;
}
.get-btn{
    position: absolute;
    left: 520px;
    text-decoration: none;
    color: white;
    background: #0ea2bd;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
.fa-regular, .far {
    font-weight: 400;
    padding-left: 1px;
    font-size: 31px
}
.watch-btn{
    padding-left: 0px;
    text-decoration: none;
    color: #1a1f24;
    position: absolute;
    left: 731px;
    font-weight: lighter;
}
.watch-icon{
    color: #0ea2bd;
    margin-left: 690px;
    margin-top: 10px;
    position: relative;
    top: 6px;
    left: 6px;
}
#box{
    background: white;
    height: 345px;
    display: flex;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 86px;
}
.box{
    background: white;
    height: 191px;
    width: 248px;
    border: 3px solid white;
    margin-top: 62px;
    margin-left: 44px;
    margin-right: 21px;
    padding: 14px;
}
.box-line{
    text-decoration: none;
}
.box-icon{
    color: #0ea2bd;
    font-size: 28px;
}
.box-head{
    color: #485664;
    padding-top: 15px;
}
.box-p{
    color: #485664;
    padding-top: 15px;
    line-height: 20px;
}
#about{
    margin-left: 160px;
    margin-right: 170px;
}
.abt{
    text-align: center;
    color: 485664;
}
.abt-head{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.abt-info{
    letter-spacing: 1px;
    line-height: 26px;
}
.about-flex-content{
    display: flex;
    color: #485664;
}
.abt-img{
    height: 500;
    width: 400px;
}
.abt-head2{
    position: absolute;
    padding-left: 41px;
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 2px;
}
.abt-ul{
    display: flex;
    list-style-type: none;
}
.li-menu{
    position: relative;
    top: 136px;
    left: 6px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 63px;
}
.li-name{
    text-decoration: none;
    color: #485664;
    margin-left: 7px;
}
.abt-hr{
    position: relative;
    margin-top: 144px;
    margin-left: 41px;
    width: 660px;
}
.about-info2{
    position: absolute;
    margin-top: 177px;
    padding-right: 39px;
    padding-left: 440px;
}
.abt-info2{
    line-height: 22px;   
}
.about-h3{
    position: absolute;
    margin-top: 240px;
    padding-right: 20px;
    padding-left: 440px;
    line-height: 23px;
    margin-right: 40px;
}
.abt-icon{
    color: #0ea2bd;
}
#action{
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background: whitesmoke;
    height: 571px;
    width: 1130px;
    margin-top: 80px;
    margin-left: 113px;
}
.act-h3{
    font-size: 48px;
    position: relative;
    top: 125px;
    left: 55px;
    color: #1a1f24;
}
.act-content{
    position: relative;
    left: 55px;
    letter-spacing: 1px;
    line-height: 24px;
    top: 160px;
    font-size: 18px;
    color: #3a4753;
}
.act-button{
    text-decoration: none;
    color: white;
    border: 2px solid #0ea2bd;
    border-radius: 8px;
    background: #0ea2bd;
    position: relative;
    left: 55px;
    bottom: 163px;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 9px 9px 9px 9px;
    font-weight: bold;
}
.act-img{
    height: 400px;
    width: 340px;
    position: relative;
    left: 545px;
    bottom: 70px;
    border-radius: 35px;
}
#cta{

}
.cta{
    display: flex;
    margin-top: 70px;
}
.video-img{

}
.v-img{
    height: 530px;
    width: 680px;
}
.bg-img{
    background-image: url(./Image_HeroBiz/onfocus-content-bg.jpg);
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 663px;
    position: absolute;
    left: 680px;
    z-index: -1;
    opacity: 0.9;
}
.cta-detail{
    color: white;
    margin-top: 110px;
    margin-left: 100px;    
    margin-right: 100px;
}
.cta-content{

}
.cta-h3{
    letter-spacing: 1px;
    line-height: 23px;
}
.cta-p{
    padding-top: 11px;
    letter-spacing: 1px;
}
.cta-points{
    padding-top: 21px;
    
}
.cta-icon{
    color: #0ea2bd;    
}
.p1{
    letter-spacing: 1px;
    line-height: 21px;
}
.fa-regular, .far 
{
    font-weight: 400;
    padding-left: 1px;
    font-size: 21px;
}
.cta-button{
    text-decoration: none;
    color: white;
    border: 2px solid #0ea2bd;
    background: #0ea2bd;
    padding-left: 20px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    position: absolute;
}
.readmore{
    position: relative;
    right: 3px;
}
.arrow-icon{
    padding-left: 4px;
}
#our{
    margin-top: 26px;
    }
.our-hd{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 1px;
    color: #1a1f24;
}
.our-para{
    text-align: center;
    letter-spacing: 1px;
    line-height: 75px;
    color: #485664;
    }
.our-line1{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
.our-pic2{
    position: relative;
    left: 28px;
}
.our-pic3{
    position: relative;
    left: 58px;
}
.our-pic5{
    position: relative;
    left: 28px;
}
.our-pic6{
    position: relative;
    left: 58px;
}
.our-img1{
    height: 270px;
    width: 360px;
    border-radius: 20px;
}
.our-icon1{
    color: white;
    position: absolute;
    right: 1013px;
    margin-top: 163px;
    font-size: 28px;
    background: #0ea2bd;
    border-radius: 26px;
    z-index: 1;
    height: 34px;
    width: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-icon2{
    color: white;
    position: absolute;
    right: 157px;
    margin-top: 163px;
    font-size: 28px;
    background: #0ea2bd;
    border-radius: 26px;
    z-index: 1;
    height: 34px;
    width: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-icon3{
    color: white;
    position: absolute;
    right: 155px;
    margin-top: 163px;
    font-size: 28px;
    background: #0ea2bd;
    border-radius: 26px;
    z-index: 1;
    height: 34px;
    width: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-icon4{
    color: white;
    position: absolute;
    right: 1013px;
    margin-top: 163px;
    font-size: 28px;
    background: #0ea2bd;
    border-radius: 26px;
    z-index: 1;
    height: 34px;
    width: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-icon5{
    color: white;
    position: absolute;
    right: 155px;
    margin-top: 163px;
    font-size: 28px;
    background: #0ea2bd;
    border-radius: 26px;
    z-index: 1;
    height: 34px;
    width: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-icon6{
    color: white;
    position: absolute;
    right: 155px;
    margin-top: 163px;
    font-size: 28px;
    background: #0ea2bd;
    border-radius: 26px;
    z-index: 1;
    height: 34px;
    width: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.our-content{
    border: 2px solid white;
    width: 282px;
    text-align: center;
    color: #485664;
    position: relative;
    left: 37px;
    bottom: 84px;
    background: white;
    opacity: 0.9;
    border-radius: 12px;
}
.our-h3{
    padding-top: 45px;
    color: #1a1f24;
}
.our-p{
    letter-spacing: 1px;
    margin-top: 20px;
}
.our-img2{
    height: 270px;
    width: 360px;
    border-radius: 20px;
}
.our-img3{
    height: 270px;
    width: 360px;
    border-radius: 20px;
}
.our-line2{
    display: flex;
    margin-left: 125px;
    position: relative;
    bottom: 80px;
}
.our-img4{
    height: 270px;
    width: 360px;
    border-radius: 20px;
}
.our-img5{
    height: 270px;
    width: 360px;
    border-radius: 20px;
}
.our-img6{
    height: 270px;
    width: 360px;
    border-radius: 20px;
}
.port{
    position: relative;
    bottom: 126px;
}
.port-content{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.port-h2{
    font-weight: lighter;
    font-size: 36px;
}
.port-p{
    letter-spacing: 1px;
    line-height: 24px;
    padding-top: 18px;
}
.port-ul{
    display: flex;
    list-style-type: none;
    margin-top: -65px;
    margin-left: 408px;
    font-size: 17px;
}
.port-name{
    text-decoration: none;
    padding-left: 60px;
    color: #1a1f24;
}
.port-name:hover{
    color: #0ea2bd;
}
.active{
    color: #0ea2bd;
}
.port-images{
    margin-left: 14px;
    margin-top: 28px;
}
.port-i2{
    position: relative;
    left: 3px;
}
.port-i3{
    position: relative;
    left: 8px;
}
.port-i4{
    position: relative;
    left: 13px;
}
.port-i6{
    position: relative;
    left: 3px;
}
.port-i7{
    position: relative;
    left: 8px;
}
.port-i8{
    position: relative;
    left: 13px;
}
.port-i10{
    position: relative;
    left: 3px;
}
.port-i11{
    position: relative;
    left: 8px;
}
.port-i12{
    position: relative;
    left: 13px;
}
.port-line1{
    display: flex;
}
.port-line2{
    display: flex;
    position: relative;
    bottom: 40px;
}
.port-line3{
    display: flex;
    position: relative;
    bottom: 80px;
}
.port-pic1{
    height: 245px;
}
.port-pic2{
    height: 245px;
}
.port-pic3{
    height: 245px;
}
.port-pic4{
    height: 245px;
}
.port-pic5{
    height: 245px;
}
.port-pic6{
    height: 245px;
}
.port-pic7{
    height: 245px;
}
.port-pic8{
    height: 245px;
}
.port-pic9{
    height: 245px;
}
.port-pic10{
    height: 245px;
}
.port-pic11{
    height: 245px;
}
.port-pic12{
    height: 245px;
}
.port-h4{
    position: relative;
    bottom: 45px;
    left: 9px;
    color: white;
}
.porticonss{
    position: relative;
    left: 262px;
    bottom: 68px;
    font-size: 21px;
    color: #485664;
}
.port-plus-i1{
    position: relative;
    right: 12px;   
}
.port-plus-i2{
    position: relative;
    right: 12px;
}
.port-plus-i3{
    position: relative;
    right: 12px;
}
.port-plus-i4{
    position: relative;
    right: 12px;
}
.port-plus-i5{
    position: relative;
    right: 12px;
}
.port-plus-i6{
    position: relative;
    right: 12px;
}
.port-plus-i7{
    position: relative;
    right: 12px;
}
.port-plus-i8{
    position: relative;
    right: 12px;
}
.port-plus-i9{
    position: relative;
    right: 12px;
}
.port-plus-i10{
    position: relative;
    right: 12px;
}
.port-plus-i11{
    position: relative;
    right: 12px;
}
.port-plus-i12{
    position: relative;
    right: 12px;
}
#team{
    position: relative;
    bottom: 135px;
    margin-left: 90px;
    margin-right: 102px;
}
.team-head{
    text-align: center;
    letter-spacing: 1;
}
.team-h2{
    font-weight: lighter;
    font-size: 40px;
}
.team-p{
    margin-top: 11px;
}
.team-members{
    display: flex;
    margin-top: 36px;
    margin-left: 0px;
}
.team-mem2{
    position: relative;
    left: 27px;
}
.team-mem3{
    position: relative;
    left: 57px;
}
.team-img1{
    height: 380px;
    width: 380px;
    border-radius: 20px;
}
.team-img2{
    height: 380px;
    width: 380px;
    border-radius: 20px;
}
.team-img3{
    height: 380px;
    width: 380px;
    border-radius: 20px;
}
.team-icon{
    position: relative; 
    bottom: 20px;
}
.tm-icon{
   text-decoration: none;
}
.team-box{
    border: 2px solid whitesmoke;
    width: 311px;
    position: relative;
    left: 33px;
    height: 104px;
    text-align: center;
    bottom: 31px;
    background: white;
    color: #485664;
    line-height: 26px;
    border-radius: 17px;
}
.tm-tm{
    color: white;
    left: 0;
    font-size: 15px;
    background: #0ea2bd;
    position: relative;
    border: 2px solid #0ea2bd;
    border-radius: 48px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.co-head{
    position: relative;
    bottom: 107px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
}
.co-h2{
    font-weight: lighter;
    font-size: 35px;
    color: #1a1f24;
}
.co-p{
    color: #485664;
}
.co-content{
    margin-top: 33px;
    margin-left: 23px;
    margin-right: 23px;
}
.co-content-h3{
    letter-spacing: 1px;
    color: #1a1f24;
}
.co-content-p{
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 7px;
    color: #485664;
}
.co-3detail{
    position: relative;
    top: 2px;  
    left: 47px;
}
.co-address{
    position: relative;
    bottom: 72px;
    border: 2px solid whitesmoke;
    height: 364px;
    width: 355px;
}
.contact-flex{
    display: flex;
    position: relative;
    left: 100px;
}
.co-loc{
    line-height: 26px;
}
.co-h4{
    color: #1a1f24;
}
.co-ph4{
    color: #485664;
}
.co-hr{
    color: #485664;
    width: 299px;
    position: relative;
    right: 25px;
    top: 10px;
}
.co-mail{
    line-height: 26px;
}
.co-call{
    line-height: 26px;
}
#form{
    position: relative;
    bottom: 70px;
    left: 39px;
}
.co-email{
    position: relative;
    left: 370px;
    bottom: 50px;
}
.co-subject{
    position: relative;
    bottom: 27px;
}
.co-submit{
    text-align: center;
    position: relative;
    top: 20px;
}
.co-ic1{
    position: relative;
    right: 28px;
    top: 34px;
    font-size: 25px;
}
.co-ic2{
    position: relative;
    right: 28px;
    top: 34px;
    font-size: 25px;
}
.co-ic3{
    position: relative;
    right: 28px;
    top: 34px;
    font-size: 25px;
}
.co-icon{
    color: #0ea2bd;
}
.name-adjust{
    width: 360px;
    height: 50px;
    font-size: 16px;
    padding-left: 8px;
}
.email-adjust{
    width: 360px;
    height: 50px;
    font-size: 16px;
    padding-left: 8px;
}
.subject-adjust{
    height: 50px;
    width: 730px;
    font-size: 16px;
    padding-left: 15px;
}
.message-adjust{
    width: 730px;
    height: 214px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
}
.button-adjust{
    font-size: 18px;
    height: 35px;
    width: 194px;
    background: #0ea2bd;
    color: white;
    border: #0ea2bd;
    word-spacing: 4px;
    letter-spacing: 1px;
    border-radius: 8px;
    curson: pointer;
}
.sm-co{
    cursor: pointer;
}
.footer{
    border: 2px solid #3a4753;
    height: 85px;
    background: #3a4753;
    color: white;
    padding-left: 61px;
    padding-top: 31px;
    line-height: 26px;
}
.boost{
    text-decoration: none;
    color: #0ea2bd;
}
.combine-icons{
    text-align: right;
    padding-right: 117px;
    position: relative;
    bottom: 36px;
}
.icon-i{
    color: white;
    font-size: 19px;
    padding-right: 7px;
    border: 1px solid whitesmoke;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 15px;
}

/* h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: red;
    bottom: 0;
    left: 0;
} */